@{
    ViewBag.Title = "Orlando Estefano de Almeida";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p></p>
<p></p><br />
<b>Dados Pessoais.</b><br />
_____________________________________________________________<br />

Brasileiro, solteiro, 22 anos.<br />
Rua Gastão Souza de Oliveira, Nº 497<br />
Tupy – Praia Grande – SP<br /> 
Telefone: (13) 99190-0861<br />
E-mail: orlando.eal_@@hotmail.com<br />

 <br /><p></p><p></p>
<b>Objetivo</b><br />
_____________________________________________________________<br />
<b>Atuar na área de Tecnologia da Informação<br />
Informática, TI, Telecomunicações.</b><br />
<ul>
    <li>Programador / Desenvolvedor</li>
    
    </ul>

<br /><p></p><p></p>
<b>Formação Acadêmica</b><br />
_____________________________________________________________<br />
<ul>
    <li>
        Curso: Ciências da computação
    </li>

    <li> Nível do curso: Graduação
   </li>

    <li>
        Instituição: Católica Unisantos
    </li>

    <li>
        Estado: São Paulo
    </li>

    <li>
        Período: 2012/ em andamento
    </li>   
</ul>